---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: redis
      version: 23.2.12
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    auth:
      enabled: false
      sentinel: false
    master:
      persistence:
        enabled: false
      resources:
        requests:
          cpu: 500m
          memory: 512Mi
        limits:
          memory: 1024Mi
    replica:
      replicaCount: 0
    sentinel:
      enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
      resources:
        requests:
          cpu: 150m
          memory: 256Mi
        limits:
          memory: 512Mi