# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://10.1.2.20:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "10.1.2.20"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "talos-cp-01"
    ipAddress: "10.1.2.51"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/928a729469980b05d25454eebe170944dc579b83a3e06d732a0f3acf44f8b562
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "04:92:26:d5:6b:2e"
        dhcp: false
        addresses:
          - "10.1.2.51/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.1.2.1"
        mtu: 1500
        vip:
          ip: "10.1.2.20"
  - hostname: "talos-cp-02"
    ipAddress: "10.1.2.52"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:64:cf:1c"
        dhcp: false
        addresses:
          - "10.1.2.52/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.1.2.1"
        mtu: 1500
        vip:
          ip: "10.1.2.20"
  - hostname: "talos-cp-03"
    ipAddress: "10.1.2.53"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:a2:88:c4"
        dhcp: false
        addresses:
          - "10.1.2.53/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.1.2.1"
        mtu: 1500
        vip:
          ip: "10.1.2.20"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"

