---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./externalsecret.yaml
configMapGenerator:
  - name: revysr-frontend-env-config
    files:
      - .env.js=./resources/env.js
  - name: revysr-frontend-nginx-config
    files:
      - default.conf=./resources/nginx.conf
generatorOptions:
  disableNameSuffixHash: true
replacements:
  - source:
      kind: Secret
      name: revysr-frontend-secrets
      fieldPath: data.VITE_PUBLIC_POSTHOG_KEY
    targets:
      - select:
          kind: ConfigMap
          name: revysr-frontend-env-config
        fieldPaths:
          - data[.env.js]
        options:
          delimiter: '${VITE_PUBLIC_POSTHOG_KEY}'
          index: 0
          create: false

