---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ghcr-credentials
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: ghcr-credentials
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "ghcr.io": {
                "username": "{{ .GITHUB_USERNAME }}",
                "password": "{{ .GITHUB_TOKEN }}",
                "auth": "{{ printf "%s:%s" .GITHUB_USERNAME .GITHUB_TOKEN | b64enc }}"
              }
            }
          }
  dataFrom:
    - extract:
        key: flux

