---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  # MutatingAdmissionPolicy requires alpha feature gate - disabled for now
  # - ./mutatingadmissionpolicy.yaml
  - ./prometheusrule.yaml
